.home {
    position: absolute;
    background-color: pink;
    height: 4rem;
    width: 4rem;
    background: url(../assets/home.svg) no-repeat center cadetblue;
    border-radius: 50%;
    background-size: 60%;
    margin: 0.5rem;
    top: 0;
    left: 0;
    transition: 0.3s;
    filter: opacity(0.5);
    cursor: pointer;

    &:hover {
        filter: opacity(1);
    }
}

main {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}