.tableContainer {
    margin: 0 auto;
    width: 90vw;
    height: 90vh;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
        0 1px 3px 1px rgba(60, 64, 67, 0.2);
    overflow-y: scroll;
}